<div *ngIf="addressDetail">
  <h2>{{addressDetail.ipAddress}}/{{addressDetail.mask}} Details</h2>
  <div>
    <label>Ip address:
      <input [(ngModel)]="newStringAddress" placeholder="ip-address/mask"/>
    </label>
  </div>
  <button (click)="goBack()">go back</button>
  <button (click)="update()">update</button>
</div>
