<h1 mat-dialog-title>Create address</h1>
<div mat-dialog-content>
  <p>Enter ip address</p>
  <label>
    <input matInput #address [formControl]="addressFormControl" [errorStateMatcher]="matcher"
           placeholder="192.168.0.1/24" (keyup.enter)="add(address.value)">
  </label>
  <mat-error *ngIf="addressFormControl.hasError('pattern') && !addressFormControl.hasError('required')">
    Please enter a valid ip address
  </mat-error>
  <mat-error *ngIf="addressFormControl.hasError('required')">
    Ip address is <strong>required</strong>
  </mat-error>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button (click)="add(address.value)" cdkFocusInitial>Create</button>
</div>
