<div>
  <button mat-raised-button (click)="openDialog()">Create</button>
</div>
<ul class="addresses">
  <li *ngFor="let address of addresses">
    <span class="badge">{{address.id}} </span>{{address.ipAddress}}/{{address.mask}}<br>
    <button class="update" (click)="openUpdateDialog(address)">Update</button>
  </li>
</ul>
