<div mat-dialog-content *ngIf="data.updateAddress">
  <h2>{{data.updateAddress.ipAddress}}/{{data.updateAddress.mask}} Details</h2>
  <p>Change ip address</p>
  <label>
    <input matInput [(ngModel)]="inputAddress" (ngModelChange)="onInputAddressChange()" [errorStateMatcher]="matcher"
           [formControl]="addressFormControl" placeholder="192.168.0.1/24" (keyup.enter)="update(data.updateAddress.ipAddress + '/' +
            data.updateAddress.mask, inputAddress)">
  </label>
  <mat-error *ngIf="addressFormControl.hasError('pattern') && !addressFormControl.hasError('required')">
    Please enter a valid ip address
  </mat-error>
  <mat-error *ngIf="addressFormControl.hasError('required')">
    Ip address is <strong>required</strong>
  </mat-error>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button (click)="update(data.updateAddress.ipAddress + '/' +
           data.updateAddress.mask, inputAddress)" cdkFocusInitial>Update</button>
  <button mat-button (click)="delete(data.updateAddress.ipAddress + '/' +
           data.updateAddress.mask)">Delete</button>
</div>
